.layout-container {
  --padding-horizontal: 96px;
}

.layout-container {
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.layout-container.fixed-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/******************************************************************************
 * Container styles
 *****************************************************************************/
.main-layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  position: relative;

  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  /* min-width: var(--max-width); */
}

.main-layout::before,
.main-layout::after {
  content: '';
  display: block;

  position: absolute;
  top: 0;
  transition: transform 0.5s ease-in-out;

  z-index: -999;
}

.main-layout::before {
  left: 0;

  width: 100%;
  height: 100vh;
  transform-origin: left top;

  background: url('./assets/background-left.svg') left top/auto 100% no-repeat;
  transform: scale(0);
}

.main-layout::after {
  right: 0;

  width: 100%;
  height: 100vh;
  transform-origin: right top;

  background: url('./assets/background-right.svg') right top/auto 100% no-repeat;
  /* display by default */
  transform: scale(0.7);
}

@media screen and (max-width: 752px) {
  .main-layout::after {
    background-size: contain;
  }
}

.main-layout.no-background-layout::before,
.main-layout.no-background-layout::after {
  transform: scale(0);
}

.main-layout.large-right-background-layout::after {
  transform: scale(1);
}

.main-layout.large-left-background-layout {
  height: 100vh;
  overflow: hidden;
}
.main-layout.large-left-background-layout::before {
  transform: scale(1);
}
.main-layout.large-left-background-layout::after {
  transform: scale(0);
}

/*****************************************************************************
 * Header styles
 *****************************************************************************/
.layout-header {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;

  height: 88px;
  width: 100%;

  z-index: 999;
}

@media screen and (max-width: 752px) {
  .layout-header {
    position: fixed;
    z-index: 1401;
    height: 44px;
  }
}

.fixed-container .layout-header {
  box-shadow: var(--shadow);
}

.large-left-background-layout .layout-header {
  transform: translateY(-100%);
}

/**
 * Header Background
 */
.layout-header::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: #ffffff;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  z-index: -999;
}

.no-background-layout .layout-header::before {
  opacity: 1;
}

/******************************************************************************
 * Footer styles
 *****************************************************************************/
.layout-footer {
  height: 128px;
}

.large-left-background-layout .layout-footer {
  transform: translateY(100%);
}

/*****************************************************************************
 * Content Styles
 *****************************************************************************/
.layout-content {
  flex: auto;

  position: relative;
  z-index: 0;

  margin: 88px 0 0;
  min-height: 100%;

  transition: padding 0.5s ease-in-out;
  overflow: hidden;
}

.fixed-container .layout-content {
  overflow: hidden;
}

.large-left-background-layout .layout-content {
  padding: 0;
}

/**
 * Content Background
 */
/* .layout-content::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
  background-color: #efecf2;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  z-index: -999;
}

.no-background-layout .layout-content::before {
  opacity: 1;
} */

.no-background-layout .layout-content {
  background-color: #efecf2;
}

.no-header-layout .layout-content {
  margin-top: 0;
}
