.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  background-color: #f1e8fc;

  box-sizing: border-box;
  height: 128px;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b67cff;
}

.paragraph {
  margin: 0;
}

.paragraph + .paragraph {
  margin-top: 4px;
}

.footer-mail {
  color: currentColor;
}
