.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin: 0 auto;
  padding: 0 var(--padding-horizontal);
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
}

.drawer-menu {
  display: none;
}

.header-logo {
  flex: none;
}
.header-avatar,
.header-login {
  flex: none;
  margin-left: auto;
}

.header-avatar {
  height: 48px;
  width: 48px;

  cursor: pointer;
}

.header-login {
  padding: 10px 38px;

  color: var(--color-primary);
  border: 1px solid currentColor;
  border-radius: 4px;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}


@media screen and (max-width: 752px) {
  .app-header {
    background-color: var(--color-white);
    padding: 0 16px;
    margin: 0;
  }

  .menu {
    display: none;
  }

  .drawer-menu {
    display: block;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
  }

  .header-login {
    border: none;
    padding: 10px 0;
  }

  .app-header .become-creator {
    display: none;
  }

  .app-header .header-avatar {
    width: 24px;
    height: 24px;
  }

  .locale-button {
    align-items: center;
    justify-content: center;
  }
}