.app-menu {
  display: flex;
  justify-items: stretch;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-item {
  padding: 0 20px;
  height: 100%;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

/* .menu-item + .menu-item {
  margin-left: 20px;
} */

.menu-link {
  display: flex;
  align-items: center;

  height: 100%;
}

.link-label {
  position: relative;

  text-decoration: none;
  color: #18121f;

  cursor: pointer;
}

.active-link .link-label {
  color: #9145f1;
}

.link-label::before,
.link-label::after {
  content: '';
  display: inline-block;

  position: absolute;
  bottom: -8px;

  height: 2px;
  width: 0px;
  background: currentColor;

  transition: width 0.2s ease-in-out;
}

.link-label::before {
  right: 50%;
}

.link-label::after {
  left: 50%;
}

.active-link .link-label::before,
.active-link .link-label::after {
  width: 50%;
}
