.overwrite.drawer-content {
    padding-top: 84px;
    display: block;
}

.menu-item {
    margin-bottom: 31px;
}

.link-label {
    position: relative;
    display: block;
    padding: 9px 22px;
    text-decoration: none;
    color: #18121f;

    cursor: pointer;
}

.active-link .link-label {
    color: #9145f1;
    background-color: #F3EBFE;
}
